/* nav section start */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-container{

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    
}
.logo-container{

    display: flex;
    width: 50%;
}

.logo-container img{
    height: 40px;
    margin-top: 45px;
    margin-right: 20px;
}
.logo-text{
    font-size: 40px;
    font-weight: 700;
}

.nav-menu-item{

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-menu-item a{
    text-decoration: none;
    font-size: 20px;
   color: black;
}

.nav-menu-item .btn{
    background-color: slategrey;
    padding: 5px;
    font-weight: 200;
    border-radius: 5px;
    color: black;
    text-align: center;
    
}
 .Gamer-g{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;    
}
/* nav section end */

/* banner section start */
.banner-section{ 
    display: flex;
    justify-content: space-around;
    
}
.banner-text{
    background-image: url('/images/Group\ 14.png');
    width: 70%;
    text-align: center;   

}
.banner-img{
    width: 60%;
}
.banner-img img{
    width: 100%;
}
.banner-text h3{
    margin-top: 15%;
    color: #0B0223;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    
}
.banner-text .button1{
    margin-top: 20px;
    border-radius: 48px;
    padding: 21px 40px;
    color: white;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.banner-text .button2{
    margin-top: 20px;
    border-radius: 48px;
    padding: 21px 40px;
    color: white;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #4EC5F7 0%, #4EC5F7 100%));
    /* background: #4EC5F7; */
}
.banner-text h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-top: 10px;
}
.banner-text li{
    color: gray;
    list-style: none;
}

/* gamer section  */
.gamer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 30px;
    padding: 20px;
    text-align: right;

}
.gamer-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;

}
.gamer-content p{
    color: #534C64;
    text-align: right;
    font-size: 18px;   
     
}
.gamer-content button{

    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    color: white;
    font-size: 20px;
}
.purpose{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;

}
.unleash{
    font-size: 40px;
    font-weight: 700;
    color: #534C64;
}
.gamer-text{
    margin-right: 50px;
}

/* online games section */

.online-games-section,  h1, h4{
    text-align: center;
}
.online-games-section,  h1{
    font-size: 48px;
    color: #0B0223;

}
.online-games-section, h4{
    font-size: 18px;
    color: #534C64;
}
.funny{

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    
}
.online-games{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content: space-around;

    
}
/* play section */
.play-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-text{
    text-align: right;
}
.play-img img{
    width: 70%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer-img{
    height: 50%;
    width: 50%;
    margin-top: -300px;
    margin-left: -100px;  
}
.play-instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
}
.play-paragraph{

    color: #534C64;
    font-size: 18px;
    font-weight: 400;
   
}
/* icon section */
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    
    
}
.icon{
    display: flex;
    padding: 5px;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    border: #FF42A5;
   
}
.icons :hover{ 
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.icon-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding:  50px 200px;
   
}




/* responsive */
/* responsive for small device */

@media screen and (max-width: 576px) {
    .nav-container,
    .nav-menu-item,
    .banner-section,
    .gamer-content,
    .play-section
    
    {
        flex-direction: column;
    }
    .nav-menu-item{
       gap: 20px;
       margin-bottom: 20px;

    }
    .banner-text{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
        
    }
    .banner-img{
        width: 100%;
        
    }
    .banner-img img{
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .banner-text, .button1, .button2{
        margin-bottom: 20px;
    }
    .gamer-img img{
        width: 100%;
    }
    .gamer-text {
        text-align: center;
    }
    .gamer-text p{
        text-align: center;
    }
    .online-games{
        grid-template-columns: 1fr;
    }
    .online-games-section .funny,  h1{
        font-size: 35px;

    }
    .play-img img{
        width: 80%;
        margin-left: 50px;
    
    }
    
    .footer-img{
        margin-left: -40px;
    }
    .icon-section{
        width: 70%;
    }


}
/* responsive for medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    .gamer-content,
    .play-section
    
    {
        flex-direction: column;
    }
    .gamer-text {
        text-align: center;
    }
    .gamer-text p{
        text-align: center;
    }
    .online-games{
        grid-template-columns:repeat(2,1fr);
    }
    .play-img img{
        width: 80%;
        margin-left: 50px;
    
    }

}